<?xml version="1.0"?>
<config>
	<modules>
		<Ameex_EasyMultiwebsite>
			<version>1.0.0</version>
		</Ameex_EasyMultiwebsite>
	</modules>
	<frontend>
		<routers>
			<easymultiwebsite>
				<use>standard</use>
				<args>
					<module>Ameex_EasyMultiwebsite</module>
					<frontName>easymultiwebsite</frontName>
				</args>
			</easymultiwebsite>
		</routers>
	</frontend>
	<global>
		<blocks>
			<easymultiwebsite>
				<class>Ameex_EasyMultiwebsite_Block</class>
			</easymultiwebsite>
			<easymultiwebsite_adminhtml>
				<class>Ameex_EasyMultiwebsite_Block_Adminhtml</class>
			</easymultiwebsite_adminhtml>
		</blocks>
		<helpers>
			<easymultiwebsite>
				<class>Ameex_EasyMultiwebsite_Helper</class>
			</easymultiwebsite>
		</helpers>
		<models>
			<easymultiwebsite>
				<class>Ameex_EasyMultiwebsite_Model</class>
			</easymultiwebsite>
		</models>
		<events>
			<admin_system_config_changed_section_easymultiwebsite_options>
				<observers>
					<easymultiwebsite_options>
						<type>singleton</type>
                        <class>Ameex_EasyMultiwebsite_Model_Observer</class>
                        <method>creation</method>
					</easymultiwebsite_options>
				</observers>
			</admin_system_config_changed_section_easymultiwebsite_options>
		</events>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
											<easymultiwebsite_options translate="title">
												<title>Easy multiwebsite configuration</title>
											</easymultiwebsite_options>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>
